<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>32</string>
					<key>EndingLineNumber</key>
					<string>2</string>
					<key>StartingColumnNumber</key>
					<string>31</string>
					<key>StartingLineNumber</key>
					<string>2</string>
					<key>Timestamp</key>
					<string>740169910.235504</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>LudushRecipes/DomainLayer/Models/Recipe.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>{</string>
				<key>leading</key>
				<string>import Foundation

struct RecipeResponse: Codable </string>
				<key>trailing</key>
				<string>
    let recipes: [Recipe]
}
</string>
			</dict>
			<key>title</key>
			<string>Remove from Domain and add an interseptor to networking layer</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
